// $base-color: #330033;
$color1: #5533ff;
$color2: #38e2ee;
$deeper: darken($color1, 5%);
$lighter: lighten($color2, 10%);
$primaryText: #ffffff;
$errorCellColor: #d8315b;
$correctCellColor: #18bc9c;
$hoverCellColor: lightblue;
$hoverRelatedCellsColor : #d1edf2;

* { box-sizing: border-box;
    padding: 0%;
    margin: 0%;
    border: 0%;
    font-family: 'Poppins', sans-serif;
    // font-family: 'Press Start 2P', cursive;
    font-family: 'Roboto', sans-serif;
 }

body{
  background: linear-gradient(to bottom right, $color1, $color2);
 }

//modal class for modal windows( Help information and score information)
.modal {
  // display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
  font-family: 'Roboto', sans-serif;
}

.hidden{
  display: none;
}
.closeButton{
  position: absolute;
  right: 0;
  top:0;
  padding: 2%;
  font-size: 28px;
  font-weight: bold;
  color: #aaaaaa;
  &:hover,&:focus{
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
}


.modalContent{
  position: relative;
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 2%;
  border: 1px solid #888;
  width: 50%; /* Could be more or less, depending on screen size */
}
#modal1{
  line-height: 1.8;
  .modal1message{
    white-space: pre;
  }
}
//container
#container{
  max-width: 768px;
  justify-content: center;
  margin: auto;
  nav {
    position: relative;
    
    transform: translateX(-50%);
    display: inline-block;
    border: 2px solid #EBECF1;
    border-radius: 30px;
    animation: slide-in 1s ease-out;

    ul {
      position: relative;
      display: flex;
      flex: 1 1 auto;
      margin: 0;
      padding: 0 30px;
      list-style-type: none;
      li:not(:last-child) {
        margin-right: 40px;
      }
      li {
        border: 2px solid transparent;
        border-radius: 5px;
        padding: 10px;
        transition: background-image 0.2s;
        a {
          color: white;
          text-decoration: none;
          text-transform: uppercase;
          transition: color 0.2s;
        }
        ul {
          visibility: hidden;
          opacity: 0;
          position: absolute;
          display: block;
          margin: 12px -12px;
          padding: 0;
          background: #FFA91B;
          // border: 2px solid #F7C833;
          // border-right: 2px solid #F89329;
          // border-bottom: 2px solid #F89329;
          border-radius: 5px;
          transition: opacity 0.2s, visibility 0.2s;
          li {
            margin: -2px 0 0 -2px;
            width: calc(100% - 20px);
            line-height: 1.7;
            a {
              color: white;
            }
          }
        }
        &:hover {
          background: $deeper;
          a {
            color: #F9F8FD;
          }
          ul {
            visibility: visible;
            opacity: 1;
            box-shadow: 0px 3px 5px 2px #EBECF1;
            li {
              a {
                color: #F9F8FD;
              }
            }
          }
        }
      }
    }
  }
  
  #keypad{
    display: flex;
    max-width: 768px;
    text-align: center;
    width: fit-content;
    margin: auto;
    :not( :last-child){margin-right: 1vw;}
    .keypadButton{
      font-weight: bold;
      border: 2px solid $color2;
      border-radius: 50%;
      background-color: $deeper;
      color: white;
      text-align: center;
      cursor: pointer;
    }

  }
  
  
  .hoverEffect{
    &:hover
    {
      transform: scale(1.15) rotate(-1deg);
    }
  }
  #boardAndControls{
    display: flex;
    #sudoku { 
      justify-content: center; 
      margin: 10vh auto 5vh auto;
      tr:nth-child(3n-2) td {
          border-top-color: black;
      }
      tr:nth-child(3n) td {
          border-bottom-color: black;
      }
      td {
          border: 1px solid lightgrey;
          background-color: white;
      }
      td:nth-child(3n-2) {
          border-left-color: black;
      }
      td:nth-child(3n) {
          border-right-color: black;
      }
      input {
          text-align: center;
          border: 0;
          text-align: center;
          font-size: 2em;
          &.relatedCells{ 
            background-color: $hoverRelatedCellsColor;
          }
          &.cellHover{
            background-color: $hoverCellColor;
          }
          &.wrongCell{ //color when cell value is wrong
            background-color: $errorCellColor;
          }
          &.correctCell{  //hover color when cell value is correct
            background-color: $correctCellColor;
          }
  
      }
    }
    #controls{
      margin: 10vh 5vh;
      div:nth-child(n){
        margin-top: 2vh;
      }
      #checkValid{
        background-color: $deeper;
        border: none;
        color: white;
        padding: 20%;
        border-radius: 8%;
        font-size: 1.5em;
        cursor: pointer;
      }
      .uiText{
        color: $primaryText;
        font-size: 1.5em;
      }
      .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;
      }
      .switch input {
        opacity: 0;
        width: 0;
        height: 0;
      }
      
      /* The slider */
      .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
      }
      
      .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
      }
      
      input:checked + .slider {
        background-color: $deeper;
      }
      
      input:focus + .slider {
        box-shadow: 0 0 1px #2196F3;
      }
      
      input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
      }
      
      /* Rounded sliders */
      .slider.round {
        border-radius: 34px;
      }
      
      .slider.round:before {
        border-radius: 50%;
      }

      #gameInfo{
        #totalMoves{
          width: 10vw;
        }
      }

    }
  }
}



@keyframes slide-in {
  0% {
    top: -50px;
  }
  40% {
    top: 20px;
  }
  70% {
    top: 10px;
  }
  100% {
    top: 15px;
  }
}



//end of nav

//start of media queries
@media screen and (min-width: 1025px) {
  input{
    width: 7vh;
    height: 7vh;
  }
  .keypadButton{
    height: 6vh;
    width: 6vh;
    font-size: 2em;  
  }
  nav{
    top: 15px;
    left: 40%;
  }
  

}

@media screen and (max-width: 1026px) {
  main{
    flex-direction: column;
  }
  
  input{
    width: 5vh;
    height: 5vh;
  }
  .keypadButton{
    height: 5vh;
    width: 5vh;
    font-size: 1em;
  }
 
  nav{
    top: 15px;
    left: 40%;
  }
  
}

// @media screen and(max-width:480px) {
 
// }
//end of media queries