* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0%;
  margin: 0%;
  border: 0%;
  font-family: 'Poppins', sans-serif;
  font-family: 'Roboto', sans-serif;
}

body {
  background: -webkit-gradient(linear, left top, right bottom, from(#5533ff), to(#38e2ee));
  background: linear-gradient(to bottom right, #5533ff, #38e2ee);
}

.modal {
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.8);
  /* Black w/ opacity */
  font-family: 'Roboto', sans-serif;
}

.hidden {
  display: none;
}

.closeButton {
  position: absolute;
  right: 0;
  top: 0;
  padding: 2%;
  font-size: 28px;
  font-weight: bold;
  color: #aaaaaa;
}

.closeButton:hover, .closeButton:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modalContent {
  position: relative;
  background-color: #fefefe;
  margin: 15% auto;
  /* 15% from the top and centered */
  padding: 2%;
  border: 1px solid #888;
  width: 50%;
  /* Could be more or less, depending on screen size */
}

#modal1 {
  line-height: 1.8;
}

#modal2 .modalContent {
  width: 80vw;
}

#modal2 .modalContent .modalTextContent :nth-child(n) {
  padding: 2vh;
}

#modal2 .modalContent .modalTextContent ul {
  background-color: #f3f6fa;
}

#modal3 .modalTextContent :nth-child(n) {
  margin: 10px;
}

#modal3 #confirmationButtons {
  margin-left: 0;
}

#modal3 #confirmationButtons :nth-child(n) {
  padding: 1vw;
  width: 60px;
  cursor: pointer;
}

#container {
  max-width: 768px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
}

#container nav {
  position: relative;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: inline-block;
  border: 2px solid #EBECF1;
  border-radius: 30px;
  -webkit-animation: slide-in 1s ease-out;
          animation: slide-in 1s ease-out;
}

#container nav ul {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin: 0;
  padding: 0 30px;
  list-style-type: none;
}

#container nav ul li:not(:last-child) {
  margin-right: 40px;
}

#container nav ul li {
  border: 2px solid transparent;
  border-radius: 5px;
  padding: 10px;
  -webkit-transition: background-image 0.2s;
  transition: background-image 0.2s;
  cursor: pointer;
}

#container nav ul li a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}

#container nav ul li ul {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  display: block;
  margin: 12px -12px;
  padding: 0;
  background: #FFA91B;
  border-radius: 5px;
  -webkit-transition: opacity 0.2s, visibility 0.2s;
  transition: opacity 0.2s, visibility 0.2s;
}

#container nav ul li ul li {
  margin: -2px 0 0 -2px;
  width: calc(100% - 20px);
  line-height: 1.7;
}

#container nav ul li ul li a {
  color: white;
}

#container nav ul li:hover {
  background: #401aff;
}

#container nav ul li:hover a {
  color: #F9F8FD;
}

#container nav ul li:hover ul {
  visibility: visible;
  opacity: 1;
  -webkit-box-shadow: 0px 3px 5px 2px #EBECF1;
          box-shadow: 0px 3px 5px 2px #EBECF1;
}

#container nav ul li:hover ul li a {
  color: #F9F8FD;
}

#container #keypad {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 768px;
  text-align: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
}

#container #keypad :not(:last-child) {
  margin-right: 1vw;
}

#container #keypad .keypadButton {
  font-weight: bold;
  border: 2px solid #38e2ee;
  border-radius: 50%;
  background-color: #401aff;
  color: white;
  text-align: center;
  cursor: pointer;
}

#container .hoverEffect:hover {
  -webkit-transform: scale(1.15) rotate(-1deg);
          transform: scale(1.15) rotate(-1deg);
}

#container #boardAndControls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#container #boardAndControls #sudoku {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 10vh auto 5vh auto;
}

#container #boardAndControls #sudoku tr:nth-child(3n-2) td {
  border-top-color: black;
}

#container #boardAndControls #sudoku tr:nth-child(3n) td {
  border-bottom-color: black;
}

#container #boardAndControls #sudoku td {
  border: 1px solid lightgrey;
  background-color: white;
}

#container #boardAndControls #sudoku td:nth-child(3n-2) {
  border-left-color: black;
}

#container #boardAndControls #sudoku td:nth-child(3n) {
  border-right-color: black;
}

#container #boardAndControls #sudoku input {
  text-align: center;
  border: 0;
  text-align: center;
  font-size: 2em;
}

#container #boardAndControls #sudoku input.relatedCells {
  background-color: #d1edf2;
}

#container #boardAndControls #sudoku input.cellHover {
  background-color: lightblue;
}

#container #boardAndControls #sudoku input.wrongCell {
  background-color: #d8315b;
}

#container #boardAndControls #sudoku input.correctCell {
  background-color: #18bc9c;
}

#container #boardAndControls #controls {
  margin: 10vh 5vh;
  /* The slider */
  /* Rounded sliders */
}

#container #boardAndControls #controls div:nth-child(n) {
  margin-top: 2vh;
}

#container #boardAndControls #controls .uiText {
  color: #ffffff;
  font-size: 1.5em;
}

#container #boardAndControls #controls .switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

#container #boardAndControls #controls .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

#container #boardAndControls #controls .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

#container #boardAndControls #controls .slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

#container #boardAndControls #controls input:checked + .slider {
  background-color: #401aff;
}

#container #boardAndControls #controls input:focus + .slider {
  -webkit-box-shadow: 0 0 1px #2196F3;
          box-shadow: 0 0 1px #2196F3;
}

#container #boardAndControls #controls input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  transform: translateX(26px);
}

#container #boardAndControls #controls .slider.round {
  border-radius: 34px;
}

#container #boardAndControls #controls .slider.round:before {
  border-radius: 50%;
}

#container #boardAndControls #controls #gameInfo #totalMoves {
  width: 10vw;
}

@-webkit-keyframes slide-in {
  0% {
    top: -50px;
  }
  40% {
    top: 20px;
  }
  70% {
    top: 10px;
  }
  100% {
    top: 15px;
  }
}

@keyframes slide-in {
  0% {
    top: -50px;
  }
  40% {
    top: 20px;
  }
  70% {
    top: 10px;
  }
  100% {
    top: 15px;
  }
}

.button1 {
  border-color: #5533ff;
  border-radius: 0;
  color: #5533ff;
  position: relative;
  overflow: hidden;
  z-index: 1;
  -webkit-transition: color 150ms ease-in-out;
  transition: color 150ms ease-in-out;
}

.button1:after {
  content: '';
  position: absolute;
  display: block;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 0;
  height: 100%;
  background: #5533ff;
  z-index: -1;
  -webkit-transition: width 150ms ease-in-out;
  transition: width 150ms ease-in-out;
}

.button1:hover {
  color: #fff;
}

.button1:hover:after {
  width: 110%;
}

@media screen and (min-width: 1025px) {
  input {
    width: 7vh;
    height: 7vh;
  }
  .keypadButton {
    height: 6vh;
    width: 6vh;
    font-size: 2em;
  }
  nav {
    top: 15px;
    left: 40%;
  }
}

@media screen and (max-width: 1026px) {
  main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  input {
    width: 5vh;
    height: 5vh;
  }
  .keypadButton {
    height: 5vh;
    width: 5vh;
    font-size: 1em;
  }
  nav {
    top: 15px;
    left: 40%;
  }
}
/*# sourceMappingURL=style.css.map */